.enter {
  animation: enter 1500ms cubic-bezier(.27,.79,.11,.99);
  transform: translateY(0%);
}

@keyframes enter {
  from {
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}