.fade-out {
  filter: brightness(0.3);
  transform: translateY(-20%);
  transition: filter 0.5s ease-in-out, transform 5s;
  pointer-events: none;
}

.overlay {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  transform: translateY(100%);
}

.overlay.active {
  animation: slide-in 750ms cubic-bezier(.26,.32,0,.99);
  transform: translateY(0%);
  z-index: 10;
}

.about.content .line > h1,
.about.content .line > div,
.about.content .line > p {
  transform: translateY(0%);
  animation: show-line 2s cubic-bezier(.34,.46,0,.98); /* Add a smooth transition */
}

.overview.content .line > h1,
.overview.content .line > div,
.overview.content .line > p {
  transform: translateY(0%);
  animation: show-line 2s cubic-bezier(.34,.46,0,.98); /* Add a smooth transition */
}

.overview.content .item-container{
  transform: translateY(0vh);
  animation: overview-show-projects 1.5s cubic-bezier(.34,.46,0,.98); /* Add a smooth transition */
}

.selection.content .item-container {
  transform: translateY(0%);
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}


@keyframes overview-show-projects {
  from {
    transform: translateY(100vh);
  } to {
    transform: translateY(0vh);
  }
}

@keyframes selection-show-projects {
  from {
    transform: translateY(-100%);
  } to {
    transform: translateY(0%);
  }
}

@keyframes mobile-selection-show-projects {
  from {
    opacity: (0);
  } to {
    opacity: (1);
  }
}

@keyframes selection-show-canvas {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes show-line {
  from{
    transform: translateY(100%);
  } to {
    transform: translateY(0%);
  }
}

@media (min-width: 768px) {
  .selection.content .item-container {
    animation: selection-show-projects cubic-bezier(.34,.46,0,.98); /* Add a smooth transition */
  }
}

@media (max-width: 768px) {
  .selection.content .item-container {
    animation: show-line cubic-bezier(.34,.46,0,.98); /* Add a smooth transition */
  }
}
