@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}

.font-inter {
  font-family: 'Inter', sans-serif
}

.item-container {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  gap:0.5rem
}

.item-title {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  font-size: 0.65rem;
  line-height: 1rem;
  font-weight: 500;
}

.item-thumbnail {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.selection.item-container {
  width: auto;
  height: 4rem;
}

.selection.item-thumbnail {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overview-main-layout {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-auto-rows: max-content;
  gap:2rem;

  width: 100%;
  min-height: 50vh;
}

.navigation-layout {
  
  background-color: white;
  font-size: 0.75rem/* 12px */;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 1rem;

  position: fixed;
  width: 100vw;
  bottom: 0;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 1rem;

  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
}

  .navigation-layout > div {
    display: flex;    
    align-items: center;
    width: auto;
  }
  
  .navigation-layout > div > a {
    overflow: hidden;
    position: relative;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
  
    .navigation-layout > div > a::after {
      position: absolute;
      content: "";
      background-color: black;
      width: 100%;
      height: 0.5px;
      left: 0;
      bottom: 0;
      animation: mouse-leave 500ms;
      transform: translateX(-100%);
    }
    
    .navigation-layout > div > a:hover::after {
      animation: mouse-enter 500ms;
      transform: translateX(0%);
    }

@keyframes mouse-leave {
  from {
    transform: translateX(0%);
  } to {
    transform: translateX(100%);
  }
}

@keyframes mouse-enter {
  from {
    transform: translateX(-100%);
  } to {
    transform: translateX(0%);
  }
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}